node_modules
data
profiles
public/*
!public/_headers
./src/.vite
init
/dist/
/release/
/bin/sqlite3/neutralinojs-ext-sqlite3*
./ideas
.codex
ideas
release
./AGENTS.md
AGENTS.md
.tmp
windows_launcher_explained.c