/* ========================================================================== */
/* Font faces */
/* ========================================================================== */

@font-face {
  font-family: "DM Mono";
  src: local("DM Mono"), url(../fonts/DMMono-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(../fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Circular";
  src: local("Circular std"), url(../fonts/CircularStd-Book.ttf) format("truetype");
}

@font-face {
  font-family: "Baskervville";
  src: local("Baskervville"), url(../fonts/Baskervville-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "SUIT";
  src: local("SUIT"), url(../fonts/SUIT-Variabe.woff2) format("woff2");
}
@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url(../fonts/DMSans-variable.ttf) format("truetype");
}
@font-face {
  font-family: "Urbanist";
  src: local("Urbanist"), url(../fonts/Urbanist-VariableFont_wght.ttf) format("truetype");
}

hsl2(hue, saturation, lightness)
  unquote("hsl(" + "calc(var(--hue-shift) + " + hue + "), " + "calc(var(--sat-scale) * " + saturation + "%), " + "calc(var(--lit-scale) * " + lightness + "%)" + ")")


/* 
-----------
*/


:root {

  font-family: "DM Sans", "Inconsolata", "SUIT", "SUIT Variable";
  font-weight: 400;

  body {
    background-size: cover;
    background-position: center;
  }

  
  --border-rad: 0;

  --hue-shift: 130;
  --sat-scale: 0.5;
  --lit-scale: 1;

  /* Default Light Theme */

  --light: hsl2(0,50,90);
  --dark: hsl2(0,30,30);

  --bg-color: var(--light);
  --ui-color: var(--dark);
  
  --distinct-bg-color: hsl2(0, 25, 80);
  --active-bg-color: hsl2(0, 25, 75);
  
  --border-color: hsl2(0, 33, 40);
  --mild-border-color: hsl2(0, 33, 50);
  --error: rgb(232, 39, 71);
  --accent: hsl2(0, 80, 90);
  
  --alert: var(--accent);
  --quote: var(--accent);
  --value: var(--ui-color);
  --text: var(--value);
  --obj: var(--accent);
  --dir: var(--accent-2);
  --file: var(--accent);

}


/* ========================================================================== */
/* Dark mode override */
/* ========================================================================== */

:root.dark {
  
  --hue-shift: 200;
  --sat-scale: 1;
  --lit-scale: 1;

  --light: hsl2(0,50,90);
  --dark: hsl2(0,20,5);

  --bg-color: var(--dark);
  --ui-color: var(--light);
  
  --distinct-bg-color: hsl2(0, 20, 10);
  --active-bg-color: hsl2(0, 30, 25);

  --border-color: hsl2(0, 33, 70);
  --mild-border-color: hsl2(0, 33, 60);
  --error: rgb(232, 39, 71);
  --accent: hsl2(0, 80, 90);
}

/* ========================================================================== */
/* Theme variants */
/* ========================================================================== */

/* Cozy theme */
:root.cozy {

  --light: hsl2(0, 20, 72);
  --dark: hsl2(0, 15, 17);
  --border-color: hsl2(0, 15, 52);
  --mild-border-color: hsl2(18, 15, 40);
  --active-bg-color: hsl2(0, 18, 15);
  --accent: hsl2(0, 45, 70)
  
  --hue-shift: 180;
  --border-rad: 0.5lh

  body {
    background-image: url("../assets/bg/4.jpg");
  }
}

:root.steel {
  --hue-shift: 210
}

:root.forest {
  --hue-shift: 150
}


/* Party theme */
:root.party {
  /* 
    iMessage type looking, pastel colorful.
  */
  --light: hsl(229, 42%, 87%);
  --dark: rgb(78, 59, 77);
  
  --border-color: hsla(310, 42%, 72%, 0.8);
  --mild-border-color: rgba(144, 125, 196, 0.8);
  --active-bg-color: hsla(136, 58%, 89%, 0.8);
  --accent: rgb(215, 141, 210);
  --accent-2: rgb(219, 138, 228);

  --border-rad: 0.75lh
  
  body {
    background-image: url("../assets/bg/12.jpg");
  }
}

:root.party.dark {
  /* 
    iMessage type looking, pastel colorful.
  */
  --active-bg-color: hsla(219, 42%, 39%, 0.8);
}

/* Pro theme */
:root.pro {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  letter-spacing: 0.08ch;

  body {
    background-image: url("../assets/bg/3.jpg");
  }

  --hue-shift: 0;
  --sat-scale: 0;
  --lit-scale: 0;

  --border-rad: 0.25lh;
  

  --light: hsl2(230,  5, 90);
  --dark: hsl2(230, 12, 20);
  --border-color: hsl2(230, 12, 60);
  --mild-border-color: hsl2(230, 5, 40);
  --active-bg-color: hsl2(250, 15, 15);
  
  --accent: hsl2(40, 75, 75);
  --accent-2: hsl2(60, 70, 50);
  --alert: var(--accent);
  --quote: var(--accent);

  --value: var(--ui-color);
  --text: var(--value);
  
  --obj: var(--accent);

  --dir: var(--accent-2);
  --file: var(--accent);
}

/* Font-focused themes */
:root.artsy {
  font-family: "Baskervville";
  --hue-shift: 33;
  body {
    background-image: url("../assets/bg/15.jpg");
  }
  start-c.pretty {
    position: relative;
    h1 {
      font-family: "soulgate";
    }
  }
}

:root.cool {
  hue-shift: 220;
  body {
    background-image: url("../assets/bg/9.jpg");
  }
}




/* ========================================================================== */
/* Glassy surface effect */
/* ========================================================================== */

@css {
  :root.glassy {
    --blur-px: 8px;
    main {
      background: color-mix(
        in hsl,
        var(--bg-color),
        rgba(0,0,0,0) 75%
      );
      > stack-c {
        backdrop-filter: blur(var(--blur-px));
        background: unset;
        box-shadow: unset;
      }
    }

    request-c {
      box-shadow: unset;
      outline: unset;
    }
    
    input, button, select, *[contenteditable="true"], group-c, obj-c, list-c > *, guide-c {
      background: color-mix(
        in hsl,
        var(--bg-color),
        rgba(0,0,0,0) 50%
      );
      backdrop-filter: blur(var(--blur-px));
    }

    input:focus, button:focus, select:focus, *[contenteditable="true"]:focus, list-c > .item:hover {
      background: color-mix(
        in hsl,
        var(--active-bg-color),
        rgba(0,0,0,0) 30%
      );
    }
    
    message-c {
      background-color: color-mix(
        in hsl,
        var(--bg-color),
        rgba(0,0,0,0) 40%
      );
      backdrop-filter: blur(var(--blur-px));
    }
  }
}
